html, body {
  margin: 0px;
}

#gameField {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: green;
  top: 50px;
  left: 50px;
}

#gameField div {
  position: absolute;
}

#player {
  width: 10px;
  height: 10px;
  background-color: red;
  top: 40px;
  left: 30px;
}

.wall {
  width: 10px;
  height: 10px;
  background-color: black;
}

#wall_0 {
  top: 70px;
  left: 30px;
}

#wall_1 {
  top: 60px;
  left: 90px;
}

#wall_2 {
  top: 60px;
  left: 100px;
}

#wall_3 {
  top: 50px;
  left: 80px;
}

#wall_4 {
  top: 80px;
  left: 80px;
}

#wall_5 {
  top: 80px;
  left: 90px;
}
