html, body {
  margin: 0px;
}

#gameField {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: green;
  top: 50px;
  left: 50px;
}

#gameField div {
  position: absolute;
}

#player {
  width: 10px;
  height: 10px;
  background-color: black;
  top: 10px;
  left: 10px;
}
