html, body {
  margin: 0px;
}

#gameField {
  position: relative;
  background-color: green;
  top: 50px;
  left: 50px;
}

#gameField div {
  position: absolute;
}

#player {
  width: 10px;
  height: 10px;
  background-color: red;
}

.wall {
  width: 10px;
  height: 10px;
  background-color: black;
}

#invalidLevelText {
  display: none;
}

.selectedWall {
  background-color: green;
}
